p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p {
  text-align: justify;
}

#tbl-tabtz {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 600px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-assimetria {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 300px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-effect {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 300px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-tpar {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 300px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-effectsize {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 350px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-tab2x3 {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 350px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-tabanova2 {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 650px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-coefr {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 600px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}

#tbl-samplesize {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 600px !important; /* Ou max-width, dependendo da sua preferência de comportamento */
}